<div class="title-container">
  <h1> <%= @tag.category%> Transactions </h1>
</div>

<ul>
  <% for transaction in @tag_transactions %>
  <li>
    <p> <%=transaction.transaction_date.strftime("%A - %d %B")%> <%= transaction.merchant.name%>, <%= "£#{transaction.amount}"%> <%= transaction.tag.category%> </p>
  </li>
  <% end %>
</ul>
