<h1> Transactions </h1>

<p> Total Money spent £<%=@total_spent.round(2)%>     Monthly Budget: £<%=@budget%>   Budget Remaining: £<%= (@budget- @total_spent).round(2)%></p>

<ul>
  <% for transaction in @sorted_transactions %>
  <li>
    <p> <%=transaction.transaction_date%> <%= transaction.merchant.name%>, <%= "£#{transaction.amount}"%> <%= transaction.tag.category%> </p>
  </li>
  <% end %>
</ul>

<form method="get" action="/transactions/new">
  <input type="submit" value="Create new Transaction."/>
</form>

  <!-- <form method="get" action="/transactions/sort">
    <input type="submit" value="Sort Transactions."/>
  </form> -->
